<%- include ("../partials/header") -%>

    
    name = <%= user.name %>
    <br>
    email = <%= user.email %>
    <br>
    pasword = <%= user.password %> 
    <br>
    
    
    <button onclick="addProd('<%= user._id %>')">Add Product</button>  %>

<%- include ("../partials/footer") -%>
